<form class="form-horizontal" style = "padding-top: 150px; padding-left: 250px;">
            <div class="form-group">
                <label for="ID" class="col-sm-2 control-label">ID</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="ID" placeholder="12345" style="width:500px;" ng-model = "create.id">
                    </div>
            </div>
            
            <div class = "form-group">
                <label for="company" class="col-sm-2 control-label">Company Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputEmail3" placeholder="Company Name" style="width:500px;" ng-model = "create.companyname">
                    </div>
            </div>
            
            <div class = "form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="name" placeholder="Name" style="width:500px;" ng-model = "create.name">
                    </div>
            </div>
            
            <div class = "form-group">
                <label for="add1" class="col-sm-2 control-label">Address 1</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="add1" placeholder="Address 1" style="width:500px;" ng-model = "create.address1">
                    </div>
            </div>
            
            <div class = "form-group">
                <label for="add2" class="col-sm-2 control-label">Address 2</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="add2" placeholder="Address 2" style="width:500px;" ng-model = "create.address2">
                    </div>
            </div>
            
            <div class = "form-group">
                <label for="city" class="col-sm-2 control-label">City</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="city" placeholder="city" style="width:500px;" ng-model = "create.city">
                    </div>
            </div>

            <div class = "form-group">
                <label for="state" class="col-sm-2 control-label">State</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="state" placeholder="State" style="width:500px;" ng-model = "create.state">
                    </div>
            </div>
            
            <div class="form-group">
                <label for="country" class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="country" placeholder="Password" style="width:500px;" ng-model = "create.country">
                    </div>
            </div>
            
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">Phone</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="phone" placeholder="Phone" style="width:500px;" ng-model = "create.phone">
                    </div>
            </div>
            
            <div class="form-group">
                <label for="mobile" class="col-sm-2 control-label">Mobile</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="mobile" placeholder="Mobile" style="width:500px;" ng-model = "create.mobile">
                    </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary" ng-click = "make()">Create New User!</button>
                </div>
            </div>
        </form>
